* {
    margin: 0;
    padding: 0;
    font-family: Lato;
    color: #212121;
}

/*Elements*/

h1 {
    margin-top: 2em;
    text-align: center;
    font-weight: normal;
    color: #616161;
    font-size: 2.5em;
}

h2 {
    font-weight: normal;
    color: #424242;
    padding: 1em;
/*    padding-bottom: 0.5em;*/
}

.button {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 0.8em 1em;
    transition: all 0.3s ease-out;
    margin-right: 0.6em;
    margin-bottom: 0.8em;
    cursor: pointer;
}

/*Containers*/

body{
    text-align: center;
    background-color: #f8f8f8;
}

#wrap {
    display: inline-block;
    width:90%;
    max-width: 80em;
    text-align: left;
}

#content {
    display: inline-block;
/*    background-color: #e0e0e0;*/
    width: 100%;
    margin-top: 2em;
}

#buttons {
    margin-top: 1em;
}

/*Buttons*/

#grow:hover {
    transform: scale(1.2);
}
#shrink:hover {
    transform: scale(0.8);
}
#rotate:hover {
    transform: rotate(7.5deg);
}
#rotategrow:hover {
    transform: rotate(7.5deg) scale(1.1);
}
#float:hover {
    transform: translateY(-0.5em);
}
#sink:hover {
    transform: translateY(0.5em);
}
#skew:hover {
    transform: skewX(-7.5deg);
}
#skewR, #skewL {
    transform-origin: 0 100%;
}
#skewR:hover {
    transform: skewX(-7.5deg);
}
#skewL:hover {
    transform: skewX(7.5deg);
}

#pulse:hover {
    animation: pulse 1s linear infinite;
}
#pulsegrow:hover {
    animation: pulsegrow .6s linear infinite;
}
#pulseshrink:hover {
    animation: pulseshrink .6s linear infinite;
}
#push:hover {
    animation: push .4s ease;
}
#pop:hover {
    animation: pop .4s ease;
}
#bounceIn:hover {
    animation: bounceIn .6s ease;
    animation-fill-mode: forwards;
}
#bounceOut:hover {
    animation: bounceOut .6s ease;
    animation-fill-mode: forwards;
}
#bob:hover {
    animation: bob 1s ease infinite;
    animation-delay: 0.3s;
    transform: translateY(-0.5em);
}
#hang:hover {
    animation: hang 1s ease infinite;
    animation-delay: 0.3s;
    transform: translateY(0.5em);
}

/*Animations*/

@keyframes pulse {
      0% {transform: scale(1.0);}
     33% {transform: scale(1.2);}
     66% {transform: scale(0.8);}
    100% {transform: scale(1.0);}
}
@keyframes pulsegrow {
      0% {transform: scale(1.0);}
     50% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}
@keyframes pulseshrink {
      0% {transform: scale(1.0);}
     50% {transform: scale(0.8);}
    100% {transform: scale(1.0);}
}
@keyframes push {
      0% {transform: scale(1.0);}
     50% {transform: scale(0.8);}
    100% {transform: scale(1.0);}
}
@keyframes pop {
      0% {transform: scale(1.0);}
     50% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}
@keyframes bounceIn {
      0% {transform: scale(1.0);}
     33% {transform: scale(1.2);}
     66% {transform: scale(1.1);}
    100% {transform: scale(1.2);}
}
@keyframes bounceOut {
      0% {transform: scale(1.0);}
     33% {transform: scale(0.8);}
     66% {transform: scale(0.9);}
    100% {transform: scale(0.8);}
}
@keyframes bob {
      0% {transform: translateY(-0.5em);}
     50% {transform: translateY(-0.2em);}
    100% {transform: translateY(-0.5em);}
}
@keyframes hang {
      0% {transform: translateY(0.5em);}
     50% {transform: translateY(0.2em);}
    100% {transform: translateY(0.5em);}
}